

.head{position: relative; top: 690px;
padding: 20px;
color: lightgray;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: underline;}

.box1 
{width:40%;
position: relative; top: 650px;
padding: 20px;
color: lightgray;
font-family: sans-serif;}
 
body {
 background-image: url("rep.png"),url("repeat.png");
 background-repeat: no-repeat,repeat;
 
}

.head2{position: relative; top: 650px;
padding: 20px;
color: lightgray;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: underline;}

.inner{background-image: url(repeat.png);
position: relative; top: 700px;}

.header{text-align: center;
 color: lightgray;
padding: 1rem;
position: relative;
}

.header:after{
 content: '';
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 height: 4px;
 width: 100px;
 background-color: lightgray;
}

.container{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 justify-content: center;
 align-items: center;
 text-align: center;
 grid-gap: 1rem;
 padding: 1rem 80px;
 font-size: 1.2rem;
}

.skill-box{
 padding: 1rem;
 color: #ddd;
 cursor: pointer;
}

.skill-title{display: flex;
flex-direction: column;
align-items: center;
padding: 0.5rem;
margin-bottom: 0.5rem;
position: relative;
}



.img{
 width: 90px;
 height: 90px;
 position: relative;
 border-radius: 45px;
 background-color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
}

.img after{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 50%;
 height: 90px;
 background: rgba(100, 100 , 100, 0.5);
 border-radius: 45px 0 0 45px;
}
.skill-title h2{
 color: #fff;
 margin: 0.5rem;

}

.skill-icon{width: 50px;
z-index: 2;}